<h1>API Key</h1>
<div class="row">
  <form class="well form-horizontal span6 offset3">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="input01">API Key</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Key Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input02">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Additional Info</label>
      <div class="controls">
        <input type="datetime" class="input-xlarge" id="input03">
      </div>
    </div>
     <div class="control-group">
      <label class="control-label" for="input02">Additional Info</label>
      <div class="controls">
        <input type="datetime" class="input-xlarge" id="input04">
      </div>
    </div>
  </fieldset>
  <button type="submit" class="btn offset4">Generate</button>
  </form>
</div>
