<% provide(:title, 'SAFM') %>
<h1>Schduled Action Flow Management</h1>
<div class="row">
  <%= render 'shared/search' %>
  <div class="btn-group span12">
  	<button class="btn">Scheduled Action Flow Modify</button>
  	<button class="btn">Scheduled Action Flow Remove</button>
  </div>
  <%= render 'shared/scheduled_table' %>
</div>
