<h1>Users</h1>
<div class="row">
  <%= render 'shared/search' %>
  <div class="btn-group span12">
  	<button class="btn">Action Flow Register</button>
  	<button class="btn">Action Flow Modify</button>
  	<button class="btn">Action Flow Remove</button>
  	<button class="btn">Action Flow Copy</button>
  	<button class="btn">Schedule Register</button>
  </div>
  <%= render 'shared/table' %>
</div>
