<table class="table table-striped span 12">
 <thead>
   <tr>
     <th></th>
     <th>Action Flow ID</th>
     <th>Name</th>
     <th>Process Status</th>
     <th>Status</th>
     <th>Cluster</th>
     <th>Precess Step</th>
     <th>Start Time</th>
     <th>End Time</th>
     <th>Duration</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td><input type="checkbox"></td>
     <td>test1</td>
     <td>action Flow 1</td>
     <td>success</td>
     <td>100%</td>
     <td>dev2</td>
     <td>HDFS</td>
     <td>10:00</td>
     <td>12:00</td>
     <td>2h</td>
   </tr>
   <tr>
     <td><input type="checkbox"></td>
     <td>test2</td>
     <td>action Flow 2</td>
     <td>success</td>
     <td>100%</td>
     <td>dev2</td>
     <td>HDFS</td>
     <td>10:00</td>
     <td>12:00</td>
     <td>2h</td>
   </tr>
    <tr>
     <td><input type="checkbox"></td>
     <td>test3</td>
     <td>action Flow 3</td>
     <td>success</td>
     <td>100%</td>
     <td>dev2</td>
     <td>HDFS</td>
     <td>10:00</td>
     <td>12:00</td>
     <td>2h</td>
   </tr>
 </tbody>
</table>
