<form class="well form-horizontal span6">
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="input01">Action Flow Name</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Registrant ID</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input02">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Registrant Date</label>
      <div class="controls">
        <input type="datetime" class="input-xlarge" id="input02">
      </div>
    </div>
  </fieldset>
  <button type="submit" class="btn offset4">Search</button>
</form>
