<table class="table table-striped span 12">
 <thead>
   <tr>
     <th></th>
     <th>Action Flow ID</th>
     <th>Name</th>
     <th>Cluster</th>
     <th>Registrant</th>
     <th>Registration Date</th>
   </tr>
 </thead>
 <tbody>
   <tr>
     <td><input type="checkbox"></td>
     <td>test1</td>
     <td>action Flow 1</td>
     <td>dev2</td>
     <td>hong</td>
     <td>07.12</td>
   </tr>
   <tr>
     <td><input type="checkbox"></td>
     <td>test1</td>
     <td>action Flow 2</td>
     <td>dev2</td>
     <td>hong</td>
     <td>07.12</td>
   </tr>
 </tbody>
</table>
